.home {
  position: relative;
  color: black ;
  border: 2px solid black;
  right: 46%;
}

.container {
    display:flex;
    justify-content: center;

}

.item-display {
    flex-grow: 1;
}

.form-inline {
  position: relative;
}

button {
    border-radius: 4px;
    width: 150px;
    padding: 5px;
    height: 25px;
}

button:hover {
    background-color: dodgerblue;
}

button:after {
    background-color: red;
}

body {
   background: linear-gradient(to right, white, gray, blue, blue); 
}

#input-field-title {
    text-align: left;
    width: 405px;
    height: 20px;
}

#input-field-body {
    text-align: left;
    width: 405px;
    height: 20px;
}